<div class="register-wrapper">
  <div class="register-form">
    <mat-card id="main-card">
      <mat-card-header>
        <mat-card-title>
          <h2>Register</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="register()" [formGroup]="form">
          <div>
            <mat-form-field>
              <input
                type="text"
                matInput
                autofocus
                placeholder="Username"
                formControlName="username"
                required
              >
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input
                type="email"
                matInput
                autofocus
                placeholder="Email"
                formControlName="email"
                required
              >
            </mat-form-field>
            <div>
              <mat-form-field>
                <input
                  type="email"
                  matInput
                  autofocus
                  placeholder="Confirm Email"
                  formControlName="confEmail"
                  required
                >
              </mat-form-field>
              <div>
                <mat-form-field>
                  <input
                    type="password"
                    matInput
                    autofocus
                    placeholder="Password"
                    formControlName="password"
                    required
                  >
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <input
                    type="password"
                    matInput
                    autofocus
                    placeholder="Confirm Password"
                    formControlName="confPassword"
                    required
                  >
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="buttons">
            <input type="submit" class="btn btn-primary submit-btn" value="Submit" [disabled]="!form.valid">
            <a [routerLink]="['/']" class="btn btn-success">Cancel</a>
          </div>
        </form>
        <p>
          <span>Already have an account?&nbsp;</span>
          <a [routerLink]="['/log-in']">Log in!</a>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
