.login-wrapper {
  height: 100%;
  text-align: center;
}

.login-form {
  padding-top: 6%;
}

form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0 25px 2px;
  width: 100%;
}

#main-card {
  background-color: #fafafa;
  box-shadow: none !important;
  padding-top: 5% !important;
  display: inline-block;
  margin: auto;
  min-width: 300px;
}

.mat-card-header {
  justify-content: center;
}

.mat-card-actions,
.mat-card-content {
  justify-content: center;
  p {
    padding: 1.2em 0;
  }
}

.logo {
  width: 400px;
}
