<form [formGroup]="form">
  <mat-dialog-content class="dialog-box">
    <h1 mat-dialog-title>{{post ? "Edit" : "Add"}}</h1>

    <div>
      <mat-form-field class="full-width category">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput required type="text">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId" [compareWith]="compareCategory">
          <mat-option *ngFor="let category of categoryList" [value]="category">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width category">
        <mat-label>Excerpt</mat-label>
        <input formControlName="excerpt" matInput required type="text">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width category">
        <mat-label>Body</mat-label>
        <textarea formControlName="body" matInput required type="text" rows="6"></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width category">
        <mat-label>Slug</mat-label>
        <input formControlName="slug" matInput required type="text">
      </mat-form-field>
    </div>

    <button (click)="save()" class="add-category" color="primary" mat-raised-button>Save</button>
  </mat-dialog-content>
</form>
