<div class="admin-wrapper">
  <div class="admin-form">
    <div class="admin-buttons">
      <button mat-fab color="primary" (click)="openDialog()">
        <i class="large material-icons admin-btn" matTooltip="Add a Post">add</i>
      </button>
    </div>
    <div class="admin-table">
      <table mat-table [dataSource]="dataSourceAssignmentStatisticsTable" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="excerpt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Excerpt</th>
          <td mat-cell *matCellDef="let element"> {{element.excerpt}} </td>
        </ng-container>

        <ng-container matColumnDef="body">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Body</th>
          <td mat-cell *matCellDef="let element"> {{element.body}} </td>
        </ng-container>

        <ng-container matColumnDef="slug">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Slug</th>
          <td mat-cell *matCellDef="let element"> {{element.slug}} </td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
          <td mat-cell *matCellDef="let element"> {{element.created | date: "dd/MM/yyyy hh:mm"}} </td>
        </ng-container>

        <ng-container matColumnDef="categoryId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category Id</th>
          <td mat-cell *matCellDef="let element"> {{element.categoryId.name}} </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Options</th>
          <td *matCellDef="let element; let i = index;" class="edit-options" mat-cell>
            <i class="large material-icons edit-btn"
               matTooltip="Edit" (click)="openDialog(element)">edit</i>
            <i class="large material-icons delete-btn"
               matTooltip="Delete" (click)="delete(element.id)">delete</i>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="5"
                     showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
